body{
	background:blue;

background-size:1600px 700px;
background-position:center;
background-attachment:fixed;
background-repeat:no-repeat;

}

h1{
	font-size:40px;
	font-family:Onyx;
	text-align:center;
	text-decoration:underline white;
	color:#0B3861;

}

.lista1{
	font-family:MV Boli;
	background:white;
	font-size:20px;
	margin: 30px;
	width: 800px;
	border-radius:30px;

}

p{
	font-family:MV Boli;
	background:white;
	font-size:20px;
	margin: 30px;
	width: 850px;
	border-radius:15px;
}

.lista1:hover{
	font-size:25px;
	transition:.30s;
	background-color:#0B3861;
	width:1000px;
	color:white;

}